main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

#info input {
	margin-top: 10px;
}

#editAccount {
	margin-top: 50px;
}

#editAccount {
	margin-bottom: 50px;
	background: cadetblue;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

#goPremium {
	background: crimson;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

#renewSubscription {
	background: yellowgreen;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

#disconnect {
	margin-top: 50px;
	background: orange;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
}