#authenticationWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#authenticationWrapper > input {
	margin-bottom: 20px;
}

#create_account_button_form {
	display: flex;
	flex-direction: column;
	align-items: center;
}