/*----- Header -----*/
body > header {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
	align-items: center;
	position: fixed;
	background: rgb(100,125,255);
	height: 70px;
	top: 0;
	width: 100%;
	border-bottom: 5px solid rgb(75, 75, 255);
}

body > header > * {
	width: 30%;
	color: white;
	text-align: center;
}

body > header > a {
	text-decoration: none;
}

#myMedia, #myHistory {
	font-weight: bold;
	font-size: 1.2em;
}

#title {
	flex: 2;
}

#login {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#login > * {
	margin: 5px;
}

#login > img {
	width: 40px;
	height: 40px;
}

#login > p {
	font-weight: bold;
	font-size: 1.2em;
}

@media (max-width: 1920px) {
	body > header {
		font-size: 0.8em;
	}
}

@media (max-width: 1600px) {
	body > header {
		font-size: 0.7em;
	}
}

@media (max-width: 1200px) {
	body > header {
		font-size: 0.6em;
	}
}

@media (max-width: 800px) {
  body > header {
	  font-size: 0.5em;
  }
}
	