main {
    margin-top: 100px;
}

.head_div {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(135, 135, 245);
    padding: 15px;
    padding-top: 3px;
    border-radius: 10px;
}

#loginCreation_div {
    margin: 0 auto;
    width: 300px;
}

.login_creation_container_div {
    background-color: rgb(135, 135, 245);
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.button {
    color: rgb(97, 96, 96);
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(168, 168, 168);
}

.button:hover {
    border-color: rgb(48, 48, 48);
}