main {
    margin-top: 100px;
}

#mediaCreationProvider_div {
    margin: 0 auto;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(135, 135, 245);
    padding: 15px;
    padding-top: 3px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}