main {
	margin-top: 100px;
}

#searchTitle {
	text-align: center;
}

.room {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-left: 25%;
	width: 50%;
}

.room > * {
	margin-left: 10px;
	margin-right: 10px;
}

.room a {
	padding: 10px;
	background: green;
	border-radius: 5px;
	color: white;
}
